#formLogin label.error {
    text-align: center;
    font-size: 11px;
}
#formCreate .error-message {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-group.checkbox {
    margin-left: 0;
}
table.footable {
    font-size: 14px;
}
table.footable tbody td {
    padding: 17px 8px !important;
}
